body {
    width: 100%;
}

.site-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo {
    width: 200px;
    font-size: 1rem;
}

.site-nav {
    order: 2;
    width: 100%;
    font-size: 1.5rem;
    margin: auto;
}

.site-nav li {
    list-style: none;
    display: inline-block;
    justify-content: center;

}
.check-out {
    font-size: 1rem;
}

.banner-container {
    background: url('img/flower-bkgd.jpg');
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url('img/banner-girl.png');
    background-repeat: no-repeat;
}
.banner-container h1 {
    order: 2;
}

.tiles-container {

}
.tile-1 {
    background-image: url("img/mens-category.jpg");
}
.tile-2 {
    background-image: url("img/trends-category.jpg");
}
.tile-3 {
    background-image: url("img/glasses-category.jpg");
}
.tile-4 {
    background-image: url("img/sale-category.jpg");
}
.tile-5 {
    background-image: url("img/bags-category.jpg");
}
.tile-6 {
    background-image: url("img/womens-category.jpg");
}



