#main[tabindex="-1"]:focus {
    outline: 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
 }

.screen-reader-text:focus {
/* functinonal styles */
clip: auto !important;
display: block;
height: auto;
left: 5px;
top: 5px;
width: auto;
z-index: 100000;
/* decorative styles */
background-color: #f1f1f1;
border-radius: 3px;
box-shadow: 1px 1px 6px rgba(65, 11, 11, 0.8);
font-weight: bold;
line-height: normal;
outline: none;
padding: 1rem;
text-decoration: none;
}

body {
    width: 100%;
    color: #2d2d2d;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Raleway Light', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #e2574c;
}

i {
    color: white;
    padding-right: 5px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', Arial, serif;
}

.italic {
    font-family: playfair display;
    font-style: italic;
}

strong {
    font-weight: bolder;
    font-style: normal;
}

red {
    color: #e2574c;
}

.white {
    color: white;
}

.black {
    color: #2d2d2d;;
}

/* -------------------- */
.site-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 150px;
}

.site-nav {
    display: flex;
    align-items: row;
    justify-content: space-around;
    align-items: flex-end;
    order: 2;
    width: 100%;
    font-size: 1rem;
    margin: auto;
    border-top: 1px solid #969696;
    padding: 15px;
}
.site-nav a {
    text-decoration: none;
    padding: 2px;
}

.site-nav li{
    display: flex;
    list-style: none;
    color: #e2574c;
    font-size: 1rem;
}


.checkOut {
    width: 100px;
    font-size: 50px;
}

@media only screen and (min-width: 600px) {
    .site-nav {
      order: 0;
      width: 40%;
      border: none;
      display: flex;
      justify-content: space-between;
    }
}

/* -------------------- */
.banner-container {
    color: white;
    background: url('img/flower-bkgd.jpg');
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background: url(img/banner-girl.png) center 90px no-repeat, url(img/flower-bkgd.jpg) top center no-repeat;
    opacity: 1.5;
    background-size: contain, cover;
}

.banner-h3 {
    color: white;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-self: center;
    text-shadow: 2px 2px 4px darkgrey;
}

.banner-h2 {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    flex-direction: column;
    align-self: center;
    text-shadow: 2px 2px 4px darkgrey;
    font-size: 3rem;
}
/* -------------------- */

.callOut-container {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
}

h3 {
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.callOut-p {
    display: flex;
    justify-self: center;
    align-self: center;
    font-family: playfair display, italic;
    font-size: 1rem;
    text-align: center;
}


/* -------------------- */



.tiles-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tiles {
    color: white;
    display: flex;
    margin: .5vw;
    max-width: 100%;
    height: auto;
    background-size: cover;
    justify-content: center;
}
.row {
    display: flex;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .tiles{
    flex-grow: 1;
    margin: .25vw;
    }

    .row {
        display: flex;
        width: 50%;
    }
}
.tile-1 {
    background-image: url("img/mens-category.jpg");
    flex: 2;
}
.tile-2 {
    background-image: url("img/trends-category.jpg");
    flex: 1;
}
.tile-3 {
    background-image: url("img/glasses-category.jpg");
    flex: 1;
}
.tile-4 {
    background-image: url("img/sale-category.jpg");
    flex: 1;
}
.tile-5 {
    background-image: url("img/bags-category.jpg");
    flex: 1;
}
.tile-6 {
    background-image: url("img/womens-category.jpg");
    flex: 2;
}

/* -------------------- */
/* Carousel */

.carousel-header {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: flex-start;
}

.carousel-cell {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;

}

.carousel-item-name {
    color: #e2574c;
}

.carousel a {
    color: #969696;
}

.main-carousel {
    padding: 0 0 10px 0;
    width: cover;
}

@media only screen and (min-width: 600px) {
    .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: space-around;
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: space-around;
        width: 25%;
    }
}

/* -------------------- */
/* Updates call to action */
.cta-container {
    background-image: url("img/wave-bkgd.jpg");
    color: white;
    height: 300px;;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    opacity: 1.5;
    background-size: cover;
    background-position: bottom;
    margin-top: 80px;
    text-shadow: 2px 2px 4px darkgrey;
}

.cta-heading {
    display: flex;
    justify-self: center;
    align-self: center;
}

.cta-p {
    display: flex;
    width: 50%;
    align-self: center;
    font-family: playfair display, italic;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 20px;
}
.form-container {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 300px;
}

.email-form {
    width: 100%;
    position: relative;
}
input{
    height:40px;
    width:300px;
    padding-left:10px;
    border-radius: 20px;
    border:none;
    outline:none;
  }
  button{
    position:absolute;
    right: -5px;
    top: 6px;
    border:none;
    height:30px;
    width:100px;
    border-radius:20px;
    outline:none;
    text-align:center;
    font-weight:bold;
    color: white;
    background-color: #e2574c;;
    padding:5px;
  }

/* -------------------- */
/* footer */
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    color: white;
}

a.footer-container {
 
    justify-items: center;

}

address {
    color: #969696;
}

.email {
    color: white;
    text-decoration: underline;
}

.footer-contact {
    justify-self: center;
    align-items: center;
}

.footer-contact-top {
    justify-content: flex-end;
}

.footer-social {
    align-self: center;
    color: white;
    width: 50%;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}

fab {
    color: white;
}

.footer span {
    display: none;
}

@media only screen and (min-width: 600px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-contact {
        display: flex;
        align-items: left;
        justify-content: space-around;
        padding-left: 30px;
    }

    .footer-social span {
        color: white;
        display: inline-flex;
    }

    .footer-social {
        height: 100%;
        color: white;
        align-self: right;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 250px;
    }

}
